.clase1{
  color: white;
  font-family: AvertaBold;
  padding: 70px;
  position: relative;
  width: auto;
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  text-align: right;
  font-size: 40px;
  padding-top: 130px;
  padding-right: 180px;
  text-shadow: 2px 2px 5px black;
}



.clase2{
  padding-top: 2%;
  padding-left: 2%;
  padding-bottom: 2%;
  padding-right: 2%;
}


#descripcion{
  float: center;
  color: white;
  font-family: Averta;
  font-size: 20px;
  padding-right: 50%;
  text-align: justify;
  text-shadow: 2px 2px 5px black;

}

#image{
  float: right;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  width:600px;
  height: 450px;
}

#image2{
  float: right;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 600px;
  height: 450px;
}


.subtitulo, .subtitulo2{
  text-align: center;
  font-family: AvertaBold;
  color: white;

}


#descripcion2{
  float: center;
  color: white;
  font-family: Averta;
  font-size: 20px;
  padding-right: 50%;
  text-align: justify;
  text-shadow: 2px 2px 5px black;

}


.clase3{
  padding-top: 2%;
  padding-left: 2%;
  padding-bottom: 2%;
  padding-right: 2%;
}

.imagen_gastronomia{
  color: white;
  font-family: AvertaBold;
  padding: 70px;
  position: relative;
  width: auto;
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  text-align: right;
  font-size: 40px;
  padding-top: 130px;
  padding-right: 180px;
  text-shadow: 2px 2px 5px black;
}


@media screen and (max-width: 40em ) {
  #descripcion2, #descripcion{
    clear:both;
    float:none;
    padding: 0px;
  }
  #image, #image2{
    clear:both;
    float:none;
    padding: 0px;
  }
  .clase1{
    font-size: 20px;
    padding-right: 0px;
    text-align: left;
  }
  .clase3{
  padding-bottom: 200px;
  }
}
