<ion-content>

<h1 style="text-align: center; color:white">Seleccione en que continente desea publicar su casa de entre las opciones disponibles</h1>
<br><br>
  <section id="col1">
    <input type="hidden" value="Europa" #Pais>
    <img routerLink="/upload/europe" src="https://firebasestorage.googleapis.com/v0/b/popexploreionic.appspot.com/o/images%2FEurope_on_the_globe_(red).svg.png?alt=media&token=81be70c8-5171-4aea-b148-8cfb2919e95a">
  </section>

  <section id="col2">
    <input type="hidden" value="Africa" #Pais>
    <img routerLink="/upload/africa" src="https://firebasestorage.googleapis.com/v0/b/popexploreionic.appspot.com/o/images%2F1200px-Africa_on_the_globe_(red).svg.png?alt=media&token=c8f2ae94-feaf-4d28-b548-320fe7fa617f">
  </section>

  <section id="col3">
    <input type="hidden" value="Oceania" #Pais>
    <img routerLink="/upload/oceania" src="https://firebasestorage.googleapis.com/v0/b/popexploreionic.appspot.com/o/images%2F1200px-Oceania_on_the_globe_(red)_(Polynesia_centered).svg.png?alt=media&token=873a23c0-511f-4443-8c39-fa60c173c383">
  </section>

  <section id="col4">
    <input type="hidden" value="Asia" #Pais>
    <img routerLink="/upload/asia" src="https://firebasestorage.googleapis.com/v0/b/popexploreionic.appspot.com/o/images%2F1200px-Asia_on_the_globe_(red).svg.png?alt=media&token=129d775b-01c7-475e-bd85-c5f60c880d11">
  </section>

  <section id="col5">
    <input type="hidden" value="America" #Pais>
    <img routerLink="/upload/america" src="https://firebasestorage.googleapis.com/v0/b/popexploreionic.appspot.com/o/images%2F1200px-Americas_on_the_globe_(red).svg.png?alt=media&token=97f77854-a74f-43a7-b53a-d2e1945b9762">
  </section>
</ion-content>
