
.menu{
  width: 900px;
  margin: 0 auto;
}

.logo{
  width: 70px;
  float: left;
  padding: 8px;
  margin-top: 10px;
}

.fotoPerfil{
  width: 50px;
  height: 50px;
}

nav{
  float: left;
}

nav ul li {
  list-style: none;
  margin-left: 5px;
  padding: 25px 0;
  float: left;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav ul li a::before {
  display: block;
  content:"";
  width: 0%;
  background-color: #3c3c3c;
  height: 5px;
  top: 0;
  position: relative;
  transition: width 0.5s;
}

nav ul li a:hover::before {
  width: 100%;
}


video{
  width: 100%;
  z-index: -1;
}

video::-webkit-media-controls{
  display: none;
}

.present{
  position:relative;
  display: flex;
  align-items: center;
  font-family: AvertaBold;
  color:white;
  text-align: center;
  font-size: 90px;
  padding-top: 0px;
  text-shadow: 2px 2px 5px black;
  z-index: 1;
}

.prestex{
  position: absolute;
  text-align: center;
  font-family: AvertaBold;
  color:red;
  text-align: right;
  font-size: 70px;
  text-shadow: 2px 2px 5px black;
  z-index: 1;
}

.country1{
  position:relative;
  width:auto;
  height: 700px;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/popexplore-99fb9.appspot.com/o/images%2Fitaly.png?alt=media&token=3240d0b2-53d0-499e-b53d-1f27c0afc341);
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.country3{
  position: relative;
  width:auto;
  height: 700px;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/popexplore-99fb9.appspot.com/o/images%2Fgrancanaria.jpg?alt=media&token=86ac2c20-dad7-4e1c-8b9a-5bf2edb999d6);
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.tit1{
  font-family: AvertaBold;
  color:white;
  text-align: right;
  font-size: 70px;
  padding-top: 130px;
  padding-right: 180px;
  text-shadow: 2px 2px 5px black;
}

.subtitulocountry1{
  color: white;
  font-family: Averta;
  font-size: 30px;
  padding-right: 170px;
  padding-top: 0px;
  text-align: right;
  text-shadow: 2px 2px 5px black;
}

@media screen and (max-width: 40em ) {
  .tit1{
    padding-right: 0px;
    text-align: left;
  }
  .subtitulocountry1{
    padding-right: 0px;
    text-align: left;
  }
}

