<ion-content>
  <div>
    <video controls autoplay muted>
      <div class="present">
        <h1 class="prestex">Bienvenido, viajero</h1>
      </div>
      <source src="https://firebasestorage.googleapis.com/v0/b/popexplore-99fb9.appspot.com/o/images%2Fplanet.mp4?alt=media&token=8e67dc4d-0d30-44ce-abcf-153a9a23da0e" style="background-attachment: fixed;">
    </video>
  </div>
  <div class="country1">
    <h1 class="tit1"><a (click)="onClick('Europa', 'Italia', 'https://firebasestorage.googleapis.com/v0/b/popexplore-99fb9.appspot.com/o/images%2Fitaly.png?alt=media&token=3240d0b2-53d0-499e-b53d-1f27c0afc341')" routerLink="/pais" style="color: aliceblue;">Italia</a></h1>
    <p class="subtitulocountry1">Potresti avere l´universo se io potessi avere l´Italia.</p>
  </div>
  <div class="country3">
    <h1 class="tit1"><a (click)="onClick('Europa', 'Canarias', 'https://firebasestorage.googleapis.com/v0/b/popexplore-99fb9.appspot.com/o/images%2Fgrancanaria.jpg?alt=media&token=86ac2c20-dad7-4e1c-8b9a-5bf2edb999d6')" routerLink="/pais" style="color: aliceblue;">Gran Canaria</a></h1>
    <p class="subtitulocountry1">La costa del Guanarteme</p>
  </div>

  <app-footer></app-footer>
</ion-content>
