/* You can add global styles to this file, and also import other style files */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body{
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url('https://i.pinimg.com/originals/b8/4f/41/b84f4195a6d33c93d01111287c0c7b7e.jpg');
  font-family: "calibri";
}
